challenge2-task-scheduler/task-scheduler.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "25daysofserverless-taskscheduler",
      "metadata": {
        "description": "The name of the logic app."
      }
    },
    "twilioConnectionName": {
      "type": "string",
      "defaultValue": "twilio",
      "minLength": 1,
      "metadata": {
        "description": "Name of the Twilio connection"
      }
    },
    "twilioConnectionDisplayName": {
      "type": "string",
      "defaultValue": "Twilio",
      "minLength": 1,
      "metadata": {
        "description": "Display name of the Twilio connection"
      }
    },
    "twilioAccountId": {
      "type": "securestring",
      "metadata": {
        "description": "The account id of your Twilio account"
      }
    },
    "twilioAccessToken": {
      "type": "securestring",
      "metadata": {
        "description": "The access token of your Twilio account"
      }
    },
    "fromPhoneNumber": {
      "type": "string",
      "metadata": {
        "description": "Phone number from which the text messages are sent"
      }
    },
    "toPhoneNumber": {
      "type": "string",
      "metadata": {
        "description": "Phone number that should receive the text messages"
      }
    }
  },
  "variables": {
    "logicAppLocation": "[resourceGroup().location]",
    "twilioConnectorId": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', variables('logicAppLocation'), '/managedApis/', 'twilio')]"
  },
  "resources": [
    {
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "8:25_AM": {
                "inputs": {
                    "interval": {
                        "count": 25,
                        "unit": "Minute"
                    }
                },
                "runAfter": {},
                "type": "wait"
            },
            "8:30_AM": {
                "inputs": {
                    "interval": {
                        "count": 5,
                        "unit": "Minute"
                    }
                },
                "runAfter": {
                    "8:25_AM": [
                        "Succeeded"
                    ]
                },
                "type": "wait"
            },
            "8:35_AM": {
                "inputs": {
                    "interval": {
                        "count": 5,
                        "unit": "Minute"
                    }
                },
                "runAfter": {
                    "8:30_AM": [
                        "Succeeded"
                    ]
                },
                "type": "wait"
            },
            "8:39_AM": {
                "inputs": {
                    "interval": {
                        "count": 4,
                        "unit": "Minute"
                    }
                },
                "runAfter": {
                    "8:35_AM": [
                        "Succeeded"
                    ]
                },
                "type": "wait"
            },
            "8:40_AM": {
                "inputs": {
                    "interval": {
                        "count": 1,
                        "unit": "Minute"
                    }
                },
                "runAfter": {
                    "8:39_AM": [
                        "Succeeded"
                    ]
                },
                "type": "wait"
            },
            "8:45_AM": {
                "inputs": {
                    "interval": {
                        "count": 5,
                        "unit": "Minute"
                    }
                },
                "runAfter": {
                    "8:40_AM": [
                        "Succeeded"
                    ]
                },
                "type": "wait"
            },
            "8:49_AM": {
                "inputs": {
                    "interval": {
                        "count": 4,
                        "unit": "Minute"
                    }
                },
                "runAfter": {
                    "8:45_AM": [
                        "Succeeded"
                    ]
                },
                "type": "wait"
            },
            "Send_deliver_coffee_to_mom_and_dad_reminder": {
                "inputs": {
                    "body": {
                        "body": "deliver the coffee to Mom and Dad",
                        "from": "@parameters('fromPhoneNumber')",
                        "to": "@parameters('toPhoneNumber')"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['twilio']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/Messages.json"
                },
                "runAfter": {
                    "8:35_AM": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Send_deliver_coffee_to_sister_and_brother_reminder": {
                "inputs": {
                    "body": {
                        "body": "deliver the coffee to Sister and Brother",
                        "from": "@parameters('fromPhoneNumber')",
                        "to": "@parameters('toPhoneNumber')"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['twilio']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/Messages.json"
                },
                "runAfter": {
                    "8:45_AM": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Send_finish_reminder": {
                "inputs": {
                    "body": {
                        "body": "return to kitchen, take a break!",
                        "from": "@parameters('fromPhoneNumber')",
                        "to": "@parameters('toPhoneNumber')"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['twilio']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/Messages.json"
                },
                "runAfter": {
                    "8:49_AM": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Send_light_candles_reminder": {
                "inputs": {
                    "body": {
                        "body": "light the candles",
                        "from": "@parameters('fromPhoneNumber')",
                        "to": "@parameters('toPhoneNumber')"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['twilio']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/Messages.json"
                },
                "runAfter": {
                    "8:30_AM": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Send_pour_cups_reminder": {
                "inputs": {
                    "body": {
                        "body": "pour two cups",
                        "from": "@parameters('fromPhoneNumber')",
                        "to": "@parameters('toPhoneNumber')"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['twilio']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/Messages.json"
                },
                "runAfter": {
                    "8:25_AM": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Send_pour_two_more_cups_reminder": {
                "inputs": {
                    "body": {
                        "body": "return to kitchen, fill two more cups",
                        "from": "@parameters('fromPhoneNumber')",
                        "to": "@parameters('toPhoneNumber')"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['twilio']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/Messages.json"
                },
                "runAfter": {
                    "8:39_AM": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Send_relight_candles_reminder": {
                "inputs": {
                    "body": {
                        "body": "relight the candles",
                        "from": "@parameters('fromPhoneNumber')",
                        "to": "@parameters('toPhoneNumber')"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['twilio']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/Messages.json"
                },
                "runAfter": {
                    "8:40_AM": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Send_start_reminder": {
                "inputs": {
                    "body": {
                        "body": "start the coffee, set out 4 cups",
                        "from": "@parameters('fromPhoneNumber')",
                        "to": "@parameters('toPhoneNumber')"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['twilio']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/Messages.json"
                },
                "runAfter": {},
                "type": "ApiConnection"
            }
          },
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            },
            "fromPhoneNumber": {
              "type": "string",
              "defaultValue": "",
              "metadata": {
                "description": "From Phone Number"
              }
            },
            "toPhoneNumber": {
              "type": "string",
              "defaultValue": "",
              "metadata": {
                "description": "To Phone Number"
              }
            }
          },
          "triggers": {
            "Every_day_at_8:00_AM": {
                "recurrence": {
                    "frequency": "Day",
                    "interval": 1,
                    "schedule": {
                        "hours": [
                            "8"
                        ],
                        "minutes": [
                            0
                        ]
                    },
                    "timeZone": "W. Europe Standard Time"
                },
                "type": "Recurrence"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "twilio": {
                "id": "[variables('twilioConnectorId')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('twilioConnectionName'))]",
                "connectionName": "[parameters('twilioConnectionName')]"
              }
            }
          },
          "fromPhoneNumber": {
            "value": "[parameters('fromPhoneNumber')]"
          },
          "toPhoneNumber": {
            "value": "[parameters('toPhoneNumber')]"
          }
        }
      },
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[variables('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('twilioConnectionName'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('twilioConnectionName')]",
      "location": "[variables('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[variables('twilioConnectorId')]"
        },
        "displayName": "[parameters('twilioConnectionDisplayName')]",
        "parameterValues": {
          "sid": "[parameters('twilioAccountId')]",
          "token": "[parameters('twilioAccessToken')]"
        }
      }
    }
  ],
  "outputs": {}
}
